html { position: relative; min-height: 100%; }
body { color: #555; background-color: #fff; font-family: "Helvetica Neue", Roboto, Arial, sans-serif; font-weight: 300; font-size:16px; margin:0;}

a { color: #337ab7; text-decoration: none; transition: color 0.2s }
a:hover { color: #23527c; text-decoration: underline; }

.sr-only {visibility: hidden}

#container {width:100%;}

#top {background:#ada3ed; height: 40px; line-height: 40px; padding: 5px 0; box-shadow: 0 1px 10px #ccc; border-bottom: 1px solid #eee; }
#top h1 {margin: 0}
#top, #top a, #top .branding {color: #fff; text-shadow: 0 1px 1px #777;}
#top .logo { height: 40px; padding-right: 20px; }
#top .branding { font-size: 18px; font-weight: 400; top: -14px; position: relative;}

.inner {max-width:800px; margin:0 auto; padding: 0 10px;}
#mainContent .inner {margin-top: 30px;line-height:1.8em;font-size:1.1em}

ul,ol,li {padding:0;margin:0;list-style:none}
p {padding:0}

h1, h2, h3, h4 {font-weight: 400;}

h1, h2 {font-size:24px}
h3, h4 {font-size:20px}

.fL {float:left}
.fR {float:right}
.aL {text-align:left}
.aR {text-align:right}
.aC {text-align:center}
.aJ {text-align:justify}

.small {font-size:0.8em}
.large {font-size:1.4em}

/*
::selection {background:#9891c5;color:white}
::-moz-selection {background:#9891c5;color:white}
*/

.col.half {float:left; width:49%;margin-right:1%}
.col.third {float:left; width:32%;margin-right:1%}
.col.two-thirds {float:left; width:65%;margin-right:1%}
.cB {clear:both;}

table th {border: 1px solid #ccc; border-width: 0 0 1px 0; border-collapse:collapse;text-align: left}
table td {border: 1px solid #ccc; border-width: 0 1px 1px 1px; border-collapse:collapse;}

table th, table td {padding: 1px 7px}
table th:first-child, table th:last-child,
table td:first-child, table td:last-child {border-width: 0 0 1px 0; }

.label {width:498px;background:rgba(0,0,0,0.2);height:55px;line-height:55px;padding:0 25px 0 0;
    text-transform:uppercase;font-size:1.4em;margin:-30px 0 30px -396px}

.label .slope {font-size: 0px; line-height: 0%; width:0;float:right;margin:37px -25px 0 0}

img.fullwidth {width:100%;max-width:1200px}

.post { margin: 0 0 50px; padding: 10px 0 30px; border-bottom: 1px solid #bbb; }
.post:last-of-type { border-bottom: none }
.post .meta { margin: 0; font-size: 0.9em; opacity: 0.7; }
.post .title { margin: 0; }
.post .hero { margin: 25px 0}
.post .thumb { max-width: 300px; max-height: 180px; float: left; margin: 25px 25px 25px 0}
