<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title }}{% else %}Octopus Blog{% endif %}</title>
</head>
<body>
  <div id="container">
    <div id="top">
      <div class="inner">
        <a href="{{ '/' | relative_url }}">
          <img class="logo" src="/pub/octopus.svg" /><span class="branding">Octopus Blog</span>
        </a>
      </div>
    </div>

    <div id="mainContent">
      {{ content }}
    </div>

    <div id="imports">
      <link rel="stylesheet" href="{{ '/pub/style.css' | relative_url }}" type="text/css" charset="utf-8" />
      <link rel="stylesheet" href="{{ '/pub/fonts/Roboto.css' | relative_url }}" type="text/css" charset="utf-8" />
      <link rel="icon" type="image/png" href="{{ '/favicon.ico' | relative_url }}">
    </div>
  </div>
</body>
</html>
